html,
body {
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 4500px;
}
header{
    margin-top: 50px;
    height: 754px;
    margin: 0 auto;
    max-width: 1248px;
}
.header_top{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1120px; 
    display: flex;
    justify-content: space-between;
    height: 60px;
    
}   
.header_logo{
    width: 49px;
    height: 35px;
    margin-right: 121px;
} 
.header_menu{
    display: flex;
    justify-content: space-around;
    min-width: 322px;
    align-items: center;
    flex-grow: initial;
    margin-right: 418px;
}
a{
    text-decoration: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.first_link{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
a:hover{
    text-decoration: underline;
    color: #212353;
}
.header_button{
    border: none;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.header_button:hover{
    background-color: #F063B8;

}

.button_img{
    margin-left: 20px;
}

.header_top{
    margin: 0 auto;
    max-width: 1120px;
    display: flex;
    margin-top: 50px;

}

.header_main{
    margin: o auto;
    height: 700px;
    max-width: 100vw;
    background-image: url(../img/image1.png);
    background-position: right;
    background-repeat: no-repeat;
   
    
}
.header_tittle{
margin-top: 147px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 110%;
display: flex;
align-items: center;
color: #212353;
max-width: 645px;

}
 .header_text{
    margin-top: 50px;
    font-family:Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    max-width: 340px;
    height: 120px;
    

 }
.headers_button{
    margin-top: 66px;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    
}

.main_button:hover{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid  #F063B8;
}
.second_container{
    max-width: 1117px;
    height: 560px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.second_img{
    width: 477px;
    height: 504px;
    margin-top: 32px;

}
.second_tittle{
    margin-top: 125px;
    margin-left: 62px;
    width: 475px;
    height: 100px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    color: #212353;
}
.second_text{
    margin: 40px 93px 125px 62px;
    max-width: 474px;
    height: 170px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    
    }

    .third_container{
        margin-top: 150px;
        margin: 0 auto;
        max-width: 1137px;
        height: 1003px;
       
    
    }
.third_tittle{

height: 52px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
align-items: center;
text-align: center;
color: #212353;
margin-top: 150px;
text-align: center;

}

.third_text{
    margin-top: 50px;
    margin: 0 auto;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
    max-width: 584px;
    height: 58px;
    text-align: center;

}

.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.search_item{
    margin-top: 149px;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    
}

.search_img{
    width: 232px;
    height: 211px;
    margin-top: 173px;
}

.search_tittle{
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
display: flex;
align-items: center;

color: #212353;
}

.search_text{
    margin-top: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    max-width: 220px;
    height: 160px;
}
 a{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;    
    color: #212353;
    text-decoration: none;
    
    
 }

 .search_vector{
     width: 20px;
    height: 14px;
    margin-left: 20px;
}

.access_item{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    
}
.access_img{
    margin-top: 171px;
    width: 241px;
    height: 185px;

}
.access_tittle{
    margin-top: 149px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    align-items: center;
    color: #212353;

}
.access_text{
    margin-top: 20px;
    max-width: 220px;
    height: 160px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.print_item{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
   
}

.print_img{
    margin-top: 180px;
    width: 245px;
    height: 181px;

}

.print_tittle{
    margin-top: 132px;  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    align-items: center;
    color: #212353;
}
.print_text{
    margin-top: 20px;
    width: 220px;
    height: 160px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
 .security_item{
    display: flex;
    justify-content: space-between;
    max-width: 550px;

 }

 .security_img{
     margin-top: 200px;
    width: 230px;
    height: 180px;
   
 }

 .security_tittle{
     margin-top: 132px;
      font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    align-items: center;
    color: #212353;
 }

 .security_text{

    margin-top: 20px;
    width: 220px;
    height: 160px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
 }

 /*FOUR CONTAINER*/

 .four_container{
    
     margin: 0 auto; 
     margin-top: 183px;
     min-width: 1118px;
     height: 709px;
     background: #9C69E2;
     border-radius: 50px;
     display: flex;
     flex-direction: column;
 }

 .four_tittle{
    margin-top: 109px;
    margin-left: 93px;
     text-align: left;
     font-family: Helvetica;
     font-style: normal;
     font-weight: bold;
     font-size: 40px;
     line-height: 130%;
     color: #FFFFFF;

 }
.about{
    margin-top: 88px;
    margin-left: 93px;
    max-width: 949px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.foto_img{
    width: 132.42px;
    height: 90px;
    left: 437.99px;
    margin-top: 60px;
    margin-left: 103px;
}
.four_text{
    margin: 0 auto;



}
.name{
    margin-top: 80px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}
.site{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
}
.site:hover{
    text-decoration: underline;

}

.about_text{
    margin-top: 19px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    max-width: 470px;
    height: 130px;
    }
.icons{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 949px;
    margin-left: 93px;
    margin-top: 60px;
    

}


.vector_left{
    width: 40px;
    height: 14px;
    margin-right: 20px;
}

.vector_right{
    width: 20px;
    height: 14px;
}


.border{
    margin-top: 150px;
    min-width: 1138px;
    height: 2px;
    left: 0px;
    top: 3648px;    
    background: #9C69E2;
    opacity: 0.2;
}

.footer{
    margin-top: 100px;
   
}

.footer_top{
    margin: 0 auto;
    display: flex;
    max-width: 1120px; 
    display: flex;
    justify-content: space-between;
}

.footer_tittle{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    text-align: left;
    color: #212353;
    min-width: 405px;
    height: 52px
}

.footer_subtittle{
    margin-top: 20px;
    min-width: 584px;
    height: 29px;
    left: 240px;
    top: 3822px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    }
.top_buttons{
    display: flex;
    justify-content: space-between;

}


   .learn_button{
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
   }
   
   .learn_button:hover{
   background-color: #FFFFFF;
   color: black;
   border: 1px solid  #F063B8;
   }

   .demo_button{
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    border: none;
    margin-left: 60px;
    padding-left: 29px;
    }


    .demo_button:hover{
        background-color: #F063B8;
    }

    .button_vector{
    width: 20px;
    height: 14px;
    margin-left: 20px;
    }

    .footer_nav{
     margin: 0 auto;
    display: flex;
    max-width: 1120px; 
    display: flex;
    justify-content: space-between;
}

    
.nav_left{
    display: flex;
    margin-top: 153px;
    justify-content: space-between;
    min-width: 500px;
   
}

.nav_tittle{
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    align-items: center;
    
}

.footer_logo{
    width: 49px;
    height: 35px;

}

.data_tittle{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    margin-left: 20px;
}

.address{
    margin-top: 67px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    max-width: 335px;
}
.address1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    max-width: 335px;

}

.email{
    margin-top: 10px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    max-width: 335px;
    }

.tel{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}


.about_tittle{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    padding-top: 10px;
    margin-bottom: 40px;
}

.about_link{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}

.nav_right{
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    min-width: 550px;
    padding-top: 10px;
    margin-top: 153px;
}

.nav_help{
    margin-left: 118px;
}
.help_tittle{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    margin-bottom: 36px;
}
.help_link{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}

.media_tittle{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}

.footer_icon{
    margin-top: 30px;
}
.fb_icon{
    margin-right: 14px;

}
.tw_icon{
    margin-right: 14px;
}

.inst_icon{
    margin-right: 14px;
}

.footer_down{
    display: flex;
    max-width: 1120px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 173px;
}
.down_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
    max-width: 250px;
}

